@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #1D4ED8;
  --color-secondary: #9333EA;
  --color-danger: #DC2626;
}

@font-face {
  font-family: 'CustomFont'; /* Name of the font */
  src: url('./assets/fonts/Oxanium-VariableFont_wght.ttf') format('truetype'); /* Path to the TTF file */
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'CustomFont', sans-serif; /* Apply the custom font to the entire website */
}

.stroke-text {
  -webkit-text-stroke: 0.5px black;
  color: transparent;
}